<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>BSE</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <link rel="stylesheet" href="/static/css/custom.css">
</head>
<body>
<div class="container">
  <div class="topnav">
  <a class="active" href="/">BSE</a>
  <div class="search-container">
    <div class="search-container">
      <input type="text" id="searchName" placeholder="Search by name" name="search">
      <button id="searchBtn" type="submit"><i class="fa fa-search"></i></button>
    </div>
  </div>
</div>
  <br>
  <a style="" href="/"><button type="button" class="btn btn-success">Load Top 10 Records</button></a>
  <br>
  <h1 id="headerText">Top 10 Records</h1>
  <br>
  <table class="table table-striped">
    <thead>
      <tr>
        <th>Code</th>
        <th>Name</th>
        <th>Open</th>
        <th>High</th>
        <th>Low</th>
        <th>Close</th>
      </tr>
    </thead>
    <tbody id="tBody">
    {% if users%}
    {% for user in users %}
      <tr>
        <td>{{user.code}}</td>
        <td>{{user.name}}</td>
        <td>{{user.open}}</td>
        <td>{{user.high}}</td>
        <td>{{user.low}}</td>
        <td>{{user.close}}</td>
      </tr>
    {% endfor %}
    {% else %}
    Data currently not available
    {% endif %}
    </tbody>
  </table>
</div>
<div class="modal"><!-- Place at bottom of page --></div>
</body>
<script>
//  console.log("{{name}}")
//  var data = JSON.parse("{{users}}");
//  console.log(data);
$body = $("body");
function getUserRow(users) {
  row = "";
  users.forEach(function (user) {
    row += "<tr>";
    row += "<td>" + user.code + "</td>";
    row += "<td>" + user.name + "</td>";
    row += "<td>" + user.open + "</td>";
    row += "<td>" + user.high + "</td>";
    row += "<td>" + user.low + "</td>";
    row += "<td>" + user.close + "</td>";
    row += "</tr>";
  });
  return row;
}
$('#searchBtn').click(function () {
    var name = $('#searchName').val();
    if(name.length != 0) {
      $body.addClass("loading");
     $.post('/get_users', {'name': name})
       .done(function (result) {
         $('#searchName').val('');
         $body.removeClass("loading");
         if(result.success) {
           var userRow = getUserRow(result.users);
           if (result.length === 0) {
            $("#tBody").html("No Results found");
            $('#headerText').text("0 records found")
           }
           else {
             var rText = '';
             if(result.length > 10) {
               rText = result.length+" records found. Showing with top 10 stock records.";
             }
             else {
               rText =  result.length+" records found";
             }
             $('#headerText').html(rText);
            $("#tBody").html(userRow);
           }
         }
         else {
            $("#tBody").html("No Results found");
         }
       })
    }
    else {
      alert('Empty value can not be searched');
    }
  })
</script>
</html>